<header>

  <h1>Dynamic AI</h1>
</header>

<section id="chat-section">
  <div class="chatarea">
  <p class="" *ngFor="let message of messages" [class]="message.from==1?'you':'bot'">
        {{message.message}}
    </p>
  </div>
</section>

<footer>
  <div class="container">
    <input #inputMessage type="text" class="form-control" (keydown)="getMessage($event,inputMessage.value)">
  </div>
</footer>
