body{
  background-color: lightgray !important;
  margin:0;
  padding:0;
}

header{
  background: #905991;
  height:10vh;
  color: white;
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  margin:0;
  padding: 0;
  background-color: #905991;
  height:10vh;
  color: white;
}

input.form-control{
  margin-top: 10px;
}

#chat-section .chatarea .you {
    background-color: #E0A9E1;
    margin-left: 1.4rem;
    border-bottom-right-radius: .2rem;
}

#chat-section .chatarea p {
    padding: .7rem;
    border-radius: .7rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

#chat-section .chatarea .bot {
    background-color: #E0E9E1;
    margin-right: 1.4rem;
    border-bottom-left-radius: .2rem;
}
